body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
    font-family: raleway_m;
    src: url("./fonts/raleway-v22-cyrillic-300.woff2");
    font-weight: 300;
}

@font-face {
    font-family: raleway_m;
    src: url("./fonts/raleway-v22-cyrillic-900.woff2");
    font-weight: 900;
}


body, html, #root {
    width: 100vw;
    height: 100vh;
    color: black;
    font-family: raleway_m, sans-serif;
    overflow: hidden;
    line-height: 1.8;
}
